{% extends 'client/base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block stylesheets %}
	<style>

		body {
			font-size: 140%;
		}

		h2 {
			text-align: center;
			padding: 20px 0;
		}

		table caption {
			padding: 0.5em 0;
		}

		table.dataTable th,
		table.dataTable td {
			white-space: nowrap;
		}

		.p {
			text-align: center;
			padding-top: 140px;
			font-size: 14px;
		}
	</style>

{% endblock %}


{% block body %}
	<main class="main">
		<div class="responsive-wrapper">

			<div class="content">
				<div class="content-panel">
					<div class="vertical-tabs">
						<a href="{{path('app_profile')}}">Dashboard</a>
						<a href="{{path('track_order')}}">Track Order</a>
						<a href="{{path('app_orders')}}">order History</a>
						<a href="#">Edit Profile</a>
						<a href="#">Edit Password</a>
						<a href="#">Logout</a>
					</div>
				</div>
                <div class="content-main">
					{% block content %}{% endblock %}
                </div>
				
			</div>
		</div>
	</main>
{% endblock %}


