<!--newsletter section start-->
    <section class="newsletter_section newsletter_padding border-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter_inner d-flex justify-content-between align-items-center">
                        <div class="newsletter_text">
                            <h3>keep connected</h3>
                            <p>Get updates by subscribe our weekly newsletter</p>
                        </div>
                        <div class="newsletter_subscribe">
                            <form id="mc-form">
                                <input class="border-0" id="mc-email" type="email" autocomplete="off" placeholder="Enter your email address">
                                <i class="icon-envelope-open icons"></i>
                                <button class="border-0" id="mc-submit">Subscribe</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--newsletter section end-->
<!--footer area start-->
    <footer class="footer_widgets">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="footer_widget_list">
                        <div class="footer_logo">
                            <a href="#"><img src="{{asset('assets/img/logo/logo.jpg')}}" style="width: 70px;" alt=""></a>
                            <span style="font-size: 17px;">Surveillance Hub</span>
                        </div>
                        <div class="footer_contact">
                            <div class="footer_contact_list">
                                <span>Our Location</span>
                                <p>869 General Village Apt. 645, Moorebury, USA</p>
                            </div>
                            <div class="footer_contact_list">
                                <span>24/7 hotline:</span>
                                <a href="tel:(+99)0521282399">{{numero}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="footer_widget_list text-right">
                        <div class="footer_menu">
                            <ul class="d-flex justify-content-end">
                                <li><a href="index.html">home</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="product-details.html">Product</a></li>
                                <li><a href="#">pages</a></li>
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </div>
                        <div class="footer_social">
                            <ul class="d-flex justify-content-end">
                                <li><a href="https://twitter.com" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-delay="50"
                                        data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-delay="50"
                                        data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="https://www.google.com" data-tippy="googleplus" data-tippy-inertia="true" data-tippy-delay="50"
                                        data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-social-googleplus-outline"></i></a></li>
                                <li><a href="https://www.instagram.com" data-tippy="Instagram" data-tippy-inertia="true" data-tippy-delay="50"
                                        data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="https://www.youtube.com" data-tippy="Youtube" data-tippy-inertia="true" data-tippy-delay="50"
                                        data-tippy-arrow="true" data-tippy-placement="top"><i class="ion-social-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="copyright_right">
                            <p>©2024 <span>Surveillance Hub</span>. made with <i class="ion-heart"></i>  by <a href="" target="_blank">Camera Wowow team</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->

     <!-- modal area start-->
   
<!-- modal area end-->