{% extends "/client/base.html.twig" %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}

    <div id="messages">
    </div>
    <turbo-frame id="message_form">
        {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit">Send</button>
        {{form_end(form)}}
    </turbo-frame>
    
{% endblock %}


